.candidate-search {
    padding: 42px 10px 31px 30px!important;
  }
  #searchCandidate {
    width: 35rem;
  }
  .candidate-search input {
    background: #F6F6F6;
    border: 1px solid #E1E1E1;
    font-size: 14px;
    padding: 12px;
    height: 40px;
  }
  .candidate-search input::placeholder {
    text-transform: uppercase;
    color: #757575;
  }
