<div class="" *ngIf="selectedVacancy">
    <div class="entity-details">
        <div class="row border-bottom">
            <div class="entity-details__buttons col-11 col-lg-11">
              <div class="entity-buttons-wrapper">
                <button class="btn btn-crm-default">Подобрать кандидата</button>
                <button class="btn btn-crm-default" (click)="openVacancyUpdateModal()">Редактировать</button>
                <button class="btn btn-crm-default">Распечатать</button>
              </div>
            </div>
        </div>
        <div class="profile-item row">
            <div class="col-9 col-md-9 col-lg-9">
                <div class="entity-name">{{selectedVacancy?.name | uppercase}}</div>
                <div class="entity-details">
                    <div class="item-row">
                        <span class="item-title">
                            Компания:
                        </span>
                        <span class="item-value">
                            {{company.name}}
                        </span>    
                    </div>
                    <div class="item-row">
                        <span class="item-title">
                            Локация:
                        </span>
                        <span class="item-value">
                            {{city.name}}
                        </span>    
                    </div>
                    <div class="item-row">
                        <span class="item-title">
                            Зарплата:
                        </span>
                        <span class="item-value">
                            {{selectedVacancy.salary}}
                        </span>    
                    </div>
                    <div class="item-row">
                        <span class="item-title">
                            Навыки:
                        </span>
                        <span class="item-value">
                            <span class="skill" *ngFor="let skill of vacancySkills">
                                {{skill}}
                            </span>  
                        </span>    
                    </div>
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="item-title">
                Обязанности:
            </div>
            <div class="item-value">
                <span [innerHTML]="selectedVacancy.v_duties | safehtml"></span>
            </div>
        </div>
        <div class="item-row">
            <div class="item-title">
                Условия работы:
            </div>
            <div class="item-value">
                <span [innerHTML]="selectedVacancy.w_conditions | safehtml"></span>
            </div>
        </div>
        <div class="item-row">
            <div class="item-title">
                Требования:
            </div>
            <div class="item-value">
                <span [innerHTML]="selectedVacancy.v_requirements | safehtml"></span>                
            </div>
        </div>
        <div class="item-row">
            <div class="item-title">
                Описания вакансии:
            </div>
            <div class="item-value">
                <span [innerHTML]="selectedVacancy.v_description | safehtml"></span>                
            </div>
        </div>
        <!-- vacancy documents -->
        <div class="" style="display: flex;">
            <div class='pt-3 buttons-left'>
              <a href="#">Распечатать</a>
              <a href="{{'/files/attachments/' + selectedVacancy.id + '/' + selectedVacancyDocument}}" download="" >Скачать</a>
              <a href="{{'/files/attachments/' + selectedVacancy.id + '/' +  selectedVacancyDocument}}?forcedownload=1">Сохранить</a>
              <a href="#" (click)="removeVacancyDocumentByName($event,selectedVacancyDocument)">Удалить</a>
              <button class="btn btn-link btn-file btn-sm" type="button">
                Прикрепить
                <input #fileInput
                       type="file" 
                       accept="application/pdf"
                       (change)="processFile(fileInput)">
              </button>
              
            </div>
            <div class="buttons-right">
              <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Документы
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="document__dropdown-menu border-bottom" *ngFor="let doc of vacancyDocuments" style="display: flex; padding: 10px;">
                  <a class="document__dropdown-item dropdown-item" href="#" (click)="previewDocument($event, doc.file_name)"><i class="fas fa-file-image-o"></i>{{doc.file_name}}</a>
                  <a href="{{'/files/attachments/' + selectedVacancy.id + '/' +  doc.file_name}}" download=""><i class="fas fa-download"></i></a>
                  <a href="#" (click)="removeVacancyDocumentByName($event,doc.file_name)"><i class="fas fa-trash-alt"></i></a>
                </div>
              </div>
            </div>  
          </div> 
          <hr>
          <div class="row">
            <div class="col-lg-12">
              <div class="col-lg-9">
                  <div class="" *ngIf="selectedVacancyDocument">
                    <ngx-extended-pdf-viewer [src]="'/files/attachments/' +  selectedVacancy.id + '/' + selectedVacancyDocument" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer>
                  </div>
                  <div class="" style="height: 80vh;background: #f5f5f5;" *ngIf="!selectedVacancyDocument">

                  </div>
              </div>
              <div class="col-lg-3">
  
              </div>  
          </div>
          </div>       
        <!-- vacancy documents -->
    </div>
</div>
