.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .candidates {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
  }
  .candidates li {
    cursor: pointer;
    position: relative;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .candidates li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .candidates li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .candidates .text {
    position: relative;
    top: -3px;
  }
  .candidates .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .entity_list__item {
    display:flex;
    background: #fff;
    min-height: 100px;
    /*padding-bottom: 5rem !important;*/
    /*padding-top: 5rem !important;*/
    border-bottom: 1px solid #dee2e6 !important;
    margin: 0 !important;
  }
  .candidates-list {
    overflow-y: scroll;
    padding: 0;
    overflow-x: hidden;
    max-height: 250vh;
  }
  .entity_list__item a {
    color: black !important;
    text-decoration: none;
    background-color: transparent;
  }
  .entity_list__item .entity-title {
    font-weight: 500;
  }
  .entity_list__item .entity-sub {
    font-size: 14px;
    color:
      #616161;
    font-weight: normal;
  }
  .entity-item-round {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    margin-left: 20px;
    width: 65px;
    height: 65px;
    background-color:
      #f5f5f5;
    border-radius: 50% !important;
    border: 1px solid
    #eaeaea;
  }
  .entity-item-round i {
    line-height: 65px;
    font-size: 40px;
    color:
      #C4C4C4;
  }
  .border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
  }