<div class="candidates-list">
  <ul class="candidates">
    <li *ngFor="let candidate of candidates | searchPipe:searchString:selected_statuses|selectedCandidate"
        [class.selected]="candidate === selectedCandidate"
        (click)="onSelect(candidate)"
        class="entity_list__item">
      <div class="float-left" style="margin-left: 10px;">
        <span class="entity-item-round" *ngIf="!candidate.photo"><i class="fas fa-user"></i></span>
        <div class="" *ngIf="candidate.photo"><img src="/files/photo/{{candidate.photo}}" alt="" class="entity-item-round"></div>
      </div>
      <div class="list-item-data" style="margin-left: 50px;">
        <div class="entity-title">
          <a><span>{{candidate.lastname}} {{candidate.name}} {{candidate.fathername}}</span></a></div>
        <div class="entity-sub">
          <span>{{candidate.position}}</span>
        </div>
        <div class="entity-company">
          <span>{{candidate.company}}</span>
        </div>
        <div class="location">
          <span>{{candidate.location}}</span>
        </div>
        <div class="skills">

        </div>
      </div>

    </li>
  </ul>
</div>
