.item-card {
  border: 1px solid rgba(0,0,0,.125);
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 10px;
  text-align: -moz-center;
  text-align: -webkit-center;
  align-items: center;
}
.item-wrap {
  display: inline-block;
  max-width: 22%;
  width: 100%;
}
.entity-item-round {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  width: 150px;
  height: 150px;
  background-color:
    #f5f5f5;
  border-radius: 50% !important;
  border: 1px solid
  #eaeaea;
}
.entity-item-round i {
  line-height: 65px;
  font-size: 40px;
  color:
    #C4C4C4;
}
