<div class="main-menu-top row pt-3 pb-2 border-bottom"></div>
<div class="col-lg-12">
    <div class="row">
      <div class="col-lg-3">

        <app-vacancy-list></app-vacancy-list>
      </div>
      <div class="col-lg-9">
        <app-vacancy-info></app-vacancy-info>
      </div>  
    </div>
  </div>