/*@import '~font-awesome/css/font-awesome.css';*/
/*main-container__wrap*/
@import '../../node_modules/font-awesome/css/font-awesome.css';
.main-container__wrap {
  display: flex;
  flex-wrap: wrap;
}
/***TOP MENU**/
.top-menu-wrap{
  height: 50px;
  background-color: #26696E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 15px;
}
.menu-right {
  display: flex;
}
.main-nav-left {
  box-shadow: inset 0px 28px 20px -20px rgba(0,0,0,0.28);
}
.menu-search i,.menu-items i{
  padding : 0.6rem;
}
.menu-auth {
  padding : 1rem;
  line-height: 0.2em;
}
/*main nav left*/
.main-nav-left {
  background: #26696E;
  color: rgba(255, 255, 255, 0.7);
  border-right: 1px solid #26696E !important;
  min-height: calc(100vh - 100px);
}
.main-nav-item {
  padding: 20px 0 12px;
}
.main-nav-item:not(:last-child) {
  border-bottom: 1px solid #7DA5A8;
}
.main-nav-left a {
  color: rgba(255, 255, 255, 0.7);
}
.main-nav-left .main-nav-item:first-child a:before {
  content: "\f015";
}
.main-nav-left .main-nav-item:nth-child(2) a:before {
  content: "\f0c0";
}

.main-nav-left .main-nav-item:nth-child(3) a:before {
  content: "\f0b1";
}
.main-nav-left .main-nav-item:nth-child(4) a:before {
  content: "\f07b";
}

.main-nav-left .main-nav-item:nth-child(5) a:before {
  content: "\f085";
}

.main-nav-left .main-nav-item:nth-child(6) a:before {
  content: "\f055";
}

.main-nav-left .main-nav-item:nth-child(7) a:before {
  content: "\f055";
}

.main-nav-left .main-nav-item a:before {
  font-family: "Font Awesome 5 Free";
  /*font: normal normal normal 14px/1 FontAwesome;*/
  font-weight: 900;
  padding-right: 22px;
}
.menu-active {
  color: #fff;
  font-weight: bold;
}
.main-menu-top {
  padding: 0 !important;
  background: #0E5B61;
  /*box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);*/
  box-shadow: inset 0px 28px 20px -20px rgba(0,0,0,0.28);
}
.main-menu-top a, .main-menu-top i {
  color: rgba(255, 255, 255, 0.8);
  padding: 1em 28px;
}
.candidate-search {
  padding: 42px 0 31px !important;
}
.candidate-search input {
  background: #F6F6F6;
  border: 1px solid #E1E1E1;
  font-size: 14px;
  padding: 12px;
  height: 40px;
}
.candidate-search input::placeholder {
  text-transform: uppercase;
  color: #757575;
}
