<div class="" *ngIf="selectedCandidate">
    <div class="entity-details">
      <div class="row border-bottom">
        <div class="entity-details__buttons col-11 col-lg-11">
          <div class="entity-buttons-wrapper">
            <button class="btn btn-crm-default" (click)="openSendCustomerModal()">Отправить заказчику</button>
            <button class="btn btn-crm-default" (click)="openSendCandidateModal()">Отправить</button>
            <button class="btn btn-crm-default" (click)="openConnectCustomerModal()">Связаться с заказчиком</button>
            <button class="btn btn-crm-default" routerLink="/update/{{selectedCandidate.id}}">Редактировать</button>
            <button class="btn btn-crm-default" (click)="openModal(template)">Удалить</button>
            <button class="btn btn-crm-default">Черный список</button>
          </div>
        </div>
      </div>
      <br><br>
      <ng-template #template>
        <div class="modal-header text-center">
          <h5>Вы действительно хотите удалить кандидата?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="decline()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p>{{selectedCandidate.lastname | uppercase}} {{selectedCandidate.name | uppercase}} {{selectedCandidate.fathername | uppercase}}</p>
          <p>{{selectedCandidate.company}} {{selectedCandidate.position}}</p>
          <button type="button" class="btn btn-sm btn-crm btn-crm-primary mr-2" (click)="confirm()" >Yes</button>
          <button type="button" class="btn btn-sm btn-crm btn-crm-default btn-crm-default_red" (click)="decline()" >No</button>
        </div>
      </ng-template>
      <div class="profile-item row">
        <div class="col-9 col-md-9 col-lg-9">
          <div class="entity-name">{{selectedCandidate.lastname | uppercase}} {{selectedCandidate.name | uppercase}} {{selectedCandidate.fathername | uppercase}}</div>
          <div class="entity-sub">{{selectedCandidate.company}} {{selectedCandidate.position}}</div>
          <div class="entity-details" style="min-height: 200px;">
            <div class="item-row">
              <span class="item-title">
                Зарплата:
              </span>
              <span class="item-value">
                {{selectedCandidate.salary}}
              </span>
            </div>
            <div class="item-row">
              <span class="item-title">
                Город:
              </span>
              <span *ngIf="city" class="item-value">
                {{city.name}}
              </span>
            </div>
            <div class="item-row" *ngFor="let selectedCandidateContact of candidateContacts">
              <span class="item-title">
                {{selectedCandidateContact.contact_type_name}}:
              </span>
              <span class="item-value">
                {{selectedCandidateContact.contact_value}}
              </span>
            </div>
            <div class="item-row">
              <span class="item-title">
                Навыки:
              </span>
              <div class="item-value" style="display: inline-block">
                <span class="skill" *ngFor="let skill of candidateSkills">
                  {{skill}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3 col-md-3 col-lg-3">
            <!--            Candidate image-->
          <div class="row">
            <div class="w-100 text-right">
              <img src="/files/photo/{{selectedCandidate.photo}}" *ngIf="selectedCandidate.photo" class="side-photo" alt="">
              <span class="empty-img-big-placeholder entity-item-round-big-placeholder" *ngIf="!selectedCandidate.photo">
                <i class="fas fa-user avatar"></i>
              </span>
            </div>

            <span class="three-dots">
              <div class="dropdown">
                <button class="btn btn-default" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </button>

                <div class="profile__dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-132px, 31px, 0px);">
                  <input id="addPhoto" class="input-photo" #photoInput type="file" accept="image/*" (change)="processPhoto(photoInput)"><label for="addPhoto" class="dropdown-item"><i class="fas fa-plus" style="color: #BDBDBD;border: 1px solid #BDBDBD; border-radius:50%; font-size: 10px;text-align: center "></i><span>Добавить</span></label>
                  <button class="dropdown-item"><i class="fas fa-plus" style="color: #BDBDBD;border: 1px solid #BDBDBD; border-radius:50%; font-size: 10px;text-align: center "></i> Из CV</button>
                  <button class="dropdown-item" id="removePhoto" (click)="removePhoto()"><i class="fas fa-minus" style="color: #BDBDBD;border: 1px solid #BDBDBD; border-radius:50%; font-size: 10px;text-align: center "></i> Удалить</button>
                </div>

              </div>
            </span>

          </div>
        </div>
      </div>
      <hr>
      <div class="entity-stages-wrap">
        <ul id="w1" class="nav nav-tabs" role="tablist">
          <li class="stages nav-item"><a class="nav-link active" href="#w1-tab0" data-toggle="tab" role="tab" aria-controls="w1-tab0" aria-selected="true">Newage</a></li>
          <li class="stages nav-item"><a class="nav-link" href="#w1-tab1" data-toggle="tab" role="tab" aria-controls="w1-tab1" aria-selected="false">E Team</a></li>
          <li class="stages nav-item"><a class="nav-link" href="#w1-tab2" data-toggle="tab" role="tab" aria-controls="w1-tab2" aria-selected="false">Our well team</a></li>
        </ul>
        <div class="tab-content">
          <div id="w1-tab0" class="stages tab-pane active">
            <div class="pl-4 pt-2"><b>Этапы подбора</b><br>programmer</div><div class="pl-4 pr-4"><hr>
            </div>
            <div class="pl-4 pr-4"><b>Интервью с HR</b><br><small>2018/04/19</small><hr>
            </div>
            <div class="pl-4 pr-4"><b>Взят в работу</b><br><small>2018/04/19</small><hr>
            </div>
          </div>
          <div id="w1-tab1" class="stages tab-pane">
            <div class="pl-4 pt-2"><b>Этапы подбора</b><br>programmer</div>
          </div>
          <div id="w1-tab2" class="stages tab-pane">
            <div class="pl-4 pt-2"><b>Этапы подбора</b><br>programmer</div>
          </div>
        </div>
      </div>
      <div class="entity-notes">
        <br>
        <ul id="w2" class="nav nav-tabs" role="tablist">
          <li class="nav-item"><a class="nav-link" href="#w2-tab0" data-toggle="tab" role="tab" aria-controls="w2-tab0" aria-selected="false">Заметки</a></li>
          <li class="nav-item"><a class="nav-link active" href="#w2-tab1" data-toggle="tab" role="tab" aria-controls="w2-tab1" aria-selected="true">Документы</a></li></ul>
          <div class="tab-content"><div id="w2-tab0" class="tab-pane">Заметки
            <ckeditor [editor]="Editor" data="" [(ngModel)]="selectedCandidate.notes" name="notes"></ckeditor>
          </div>
          <div id="w2-tab1" class="tab-pane active">
            <div class="" style="display: flex;">
              <div class='pt-3 buttons-left'>
                <a href="#">Распечатать</a>
                <a href="{{'/files/attachments/' + selectedCandidate.id + '/' + selectedCandidateDocument}}" download="" >Скачать</a>
                <a href="{{'/files/attachments/' + selectedCandidate.id + '/' +  selectedCandidateDocument}}?forcedownload=1">Сохранить</a>
                <a href="#" (click)="removeCandidateDocumentByName($event,selectedCandidateDocument)">Удалить</a>
                <button class="btn btn-link btn-file btn-sm" type="button">
                  Прикрепить
                  <input #fileInput
                         type="file" 
                         accept="application/pdf"
                         (change)="processFile(fileInput)">
                </button>
                
              </div>
              <div class="buttons-right">
                <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Документы
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="document__dropdown-menu border-bottom" *ngFor="let doc of candidateDocuments" style="display: flex; padding: 10px;">
                    <a class="document__dropdown-item dropdown-item" href="#" (click)="previewDocument($event, doc.file_name)"><i class="fas fa-file-image-o"></i>{{doc.file_name}}</a>
                    <a href="{{'/files/attachments/' + selectedCandidate.id + '/' +  doc.file_name}}" download=""><i class="fas fa-download"></i></a>
                    <a href="#" (click)="removeCandidateDocumentByName($event,doc.file_name)"><i class="fas fa-trash-alt"></i></a>
                  </div>
                </div>
              </div>  
            </div>
            <hr>
          <div class="row">
            <div class="col-lg-12">
              <div class="col-lg-9">
                  <div class="" *ngIf="selectedCandidateDocument">
                    <ngx-extended-pdf-viewer [src]="'/files/attachments/' +  selectedCandidate.id + '/' + selectedCandidateDocument" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer>
                  </div>
                  <div class="" style="height: 80vh;background: #f5f5f5;" *ngIf="!selectedCandidateDocument">

                  </div>
              </div>
              <div class="col-lg-3">
  
              </div>  
          </div>
          </div>
          ...
          </div>
        </div>
      </div>

    </div>

  </div>