/********Main panel*******/

.entity-name {
    font-size: 20px;
    color: #151319;
    padding-top: 24px;
  }
  .entity-sub {
    font-size: 18px;
    color: #151319;
  }
  .entity-details .item-title {
    font-size: 16px;
    line-height: 30px;
    color: #6A6A6A;
  }
  
  .entity-details .item-value{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #151319;
  }
  .stages.nav-item a {
    font-weight: normal;
    font-size: 20px;
    color: #6A6A6A;
  }
  .stages.nav-item a.active {
    font-weight: bold;
    font-size: 20px;
    color: #26696E;
  }
  .stages .pl-4 {
    font-weight: normal;
    font-size: 16px;
    color: #4B4C51
  }
  .stages b {
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    color: #4B4C51;
  }
  
  .stages.tab-pane{
    background: #edf7f8;
  }
  .entity-stages-wrap .tab-pane {
    min-height: 250px;
    border-bottom: 1px solid #dee2e6;
  }
  .entity-stages-wrap .tab-content {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
  
  }
  .nav-tabs .nav-link.active {
    border-bottom-color: #edf7f8;
  }
  .entity-details .skill {
    display: inline;
    margin-right: 10px;
    background: rgba(225, 225, 225, 0.6);
    border: 1px solid #C4C4C4;
    font-size: 10px;
    text-transform: uppercase;
    color: #151319;
  }
  span.skill {
    margin: 1px 2px;
    padding: 1px 5px;
    border: 1px solid #aeaeae;
    font-size: 12px;
    background: #f5f5f5;
    display: inline-block;
    font-weight: 500;
  }
  .side-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 50px;
    margin-top: 10px;
  }
  .entity-item-round-big-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    width: 65px;
    height: 65px;
    background-color:
      #f5f5f5;
    border-radius: 50% !important;
    border: 1px solid
    #eaeaea;
    z-index: 99;
  }
  .entity-item-round-big-placeholder i {
    line-height: 65px;
    font-size: 40px;
    color:
      #C4C4C4;
  }
  .empty-img-big-placeholder {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 150px;
    height: 150px;
    background-color:
      #f5f5f5;
    border-radius: 50% !important;
  }
  .three-dots {
    position: absolute;
    top: 10px;
    right: 0;
  }
  .dropdown {
    position: relative;
  }
  .btn-default {
    border-radius: 50% !important;
    border: 0px !important;
  }
  .dot {
    height: 5px;
    width: 5px;
    background-color:
      #bbb;
    border-radius: 50%;
    display: flex;
    margin: 1px;
  }
  .profile__dropdown-menu i {
    width: 22px;
    height: 22px;
    margin-right: 16px;
  }
  .profile__dropdown-menu i::before {
    line-height: 22px;
    font-size: 12px;
  }
  .input-photo {
    width: 0.1px;
  }
  /********Main panel*******/
  
  .entity-name {
    font-size: 20px;
    color: #151319;
    padding-top: 24px;
  }
  .entity-sub {
    font-size: 18px;
    color: #151319;
  }
  .entity-details .item-title {
    font-size: 16px;
    line-height: 30px;
    color: #6A6A6A;
  }
  
  .entity-details .item-value{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #151319;
  }
  .stages.nav-item a {
    font-weight: normal;
    font-size: 20px;
    color: #6A6A6A;
  }
  .stages.nav-item a.active {
    font-weight: bold;
    font-size: 20px;
    color: #26696E;
  }
  .stages .pl-4 {
    font-weight: normal;
    font-size: 16px;
    color: #4B4C51
  }
  .stages b {
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    color: #4B4C51;
  }
  
  .stages.tab-pane{
    background: #edf7f8;
  }
  .entity-stages-wrap .tab-pane {
    min-height: 250px;
    border-bottom: 1px solid #dee2e6;
  }
  .entity-stages-wrap .tab-content {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
  
  }
  .nav-tabs .nav-link.active {
    border-bottom-color: #edf7f8;
  }
  .entity-details .skill {
    display: inline;
    margin-right: 10px;
    background: rgba(225, 225, 225, 0.6);
    border: 1px solid #C4C4C4;
    font-size: 10px;
    text-transform: uppercase;
    color: #151319;
  }
  span.skill {
    margin: 1px 2px;
    padding: 1px 5px;
    border: 1px solid #aeaeae;
    font-size: 12px;
    background: #f5f5f5;
    display: inline-block;
    font-weight: 500;
  }
  .side-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 50px;
    margin-top: 10px;
  }
  .entity-item-round-big-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    width: 65px;
    height: 65px;
    background-color:
      #f5f5f5;
    border-radius: 50% !important;
    border: 1px solid
    #eaeaea;
    z-index: 99;
  }
  .entity-item-round-big-placeholder i {
    line-height: 65px;
    font-size: 40px;
    color:
      #C4C4C4;
  }
  .empty-img-big-placeholder {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 150px;
    height: 150px;
    background-color:
      #f5f5f5;
    border-radius: 50% !important;
  }
  .three-dots {
    position: absolute;
    top: 10px;
    right: 0;
  }
  .dropdown {
    position: relative;
  }
  .btn-default {
    border-radius: 50% !important;
    border: 0px !important;
  }
  .dot {
    height: 5px;
    width: 5px;
    background-color:
      #bbb;
    border-radius: 50%;
    display: flex;
    margin: 1px;
  }
  .profile__dropdown-menu i {
    width: 22px;
    height: 22px;
    margin-right: 16px;
  }
  .profile__dropdown-menu i::before {
    line-height: 22px;
    font-size: 12px;
  }
  .input-photo {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .input-photo + label {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    padding-left:1.45rem;
    margin-bottom: 0;
  }
  /*******MODALS - DELETE CANDIDATE ******/
  
  .modal-body .btn {
    font-size: 14px !important;
  }
  .modal-header{
    background: #01919D;
    color: white;
    padding: 0.5rem 1rem!important;
    align-items: center!important;
  }
  .modal-header h5 {
    font-size: 14px;
    margin: 0px;
  }
  /*******BUTTONS********/
.entity-details__buttons {
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
  padding-left: 0 !important;
  text-align: center;
}
.entity-buttons-wrapper .btn {
  height: 40px;

  margin-right: 12px;
  font-weight: 500 !important;
  font-size: 14px !important;
  text-transform: uppercase;
  color:
    rgba(0, 0, 0, 0.87);
}
.btn-crm {
  border-radius: 0!important;
  height: 30px;
  min-width: 120px;
}
.btn-crm-primary{
  font-size: 11px!important;
  font-weight: 700!important;
  border-radius: 0!important;
  border: 1px solid #01747f !important;
  height: 30px;
  background-color: #01919D!important;
  color: white!important;
}
.btn-crm-default{
  font-size: 11px!important;
  font-weight: 700!important;
  border-radius: 0!important;
  border: 1px solid #aeaeae !important;
  height: 30px;
}
.btn-crm-default:hover {
  background: #f5f5f5;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(255, 177, 6, 0.25);
}
.btn-crm-default_red {
  border-color: red !important;
  color: red !important;
}
/****PDF PREVIEW POSITIONING****/
.buttons-left, .buttons-right {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
}
.buttons-left a {
  margin-right: 10px;
}
.buttons-right {
  text-align: right;
  padding-top: 13px;  
}
.document__dropdown-menu i {
  width: 22px;
  height: 22px;
  margin-right: 0;
}
.document__dropdown-menu i::before {
  line-height: 22px;
  font-size: 12px;
}
.document__dropdown-item {
  padding: 0;
  margin-right: 10px;
}

#w2-tab1 .btn-file {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  padding: 0;
  min-width: 82px;
  position: relative;
  overflow: hidden;
}
#w2-tab1 input[type="file"] {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
