.main-nav-item:not(:last-child) {
    border-bottom: 1px solid #7DA5A8;
  }
  .border-right {
    border-right: 1px solid
    #dee2e6 !important;
  }
  .form-control {
    border-radius: 0px;
  }
  input,select {
    background:
      #f5f5f5 !important;
  }
  mat-form-field {
    min-width: 100%;
  }

/*******BUTTONS********/
.entity-details__buttons {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
    padding-left: 0 !important;
    text-align: center;
  }
  .entity-buttons-wrapper .btn {
    height: 40px;
    /*padding: 12px 9px;*/
    margin-right: 12px;
    font-weight: 500 !important;
    font-size: 14px !important;
    text-transform: uppercase;
    color:
      rgba(0, 0, 0, 0.87);
  }
  .btn-crm {
    border-radius: 0!important;
    height: 30px;
    min-width: 120px;
  }
  .btn-crm-primary{
    font-size: 11px!important;
    font-weight: 700!important;
    border-radius: 0!important;
    border: 1px solid #01747f !important;
    height: 30px;
    background-color: #01919D!important;
    color: white!important;
  }
  .btn-crm-default{
    font-size: 11px!important;
    font-weight: 700!important;
    border-radius: 0!important;
    border: 1px solid #aeaeae !important;
    height: 30px;
  }
  .btn-crm-default:hover {
    background: #f5f5f5;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(255, 177, 6, 0.25);
  }
  .btn-crm-default_red {
    border-color: red !important;
    color: red !important;
  }
/******UPLOAD RESUME AND DOCUMENTS******/
.fa-add-resume:before {
    content: "\f055";
    line-height: 1;
    padding: 1.5px;
    color: #58d5e0;
  }
  .add-resume-button,.remove-resume-button {
    color: #58d5e0;
  }
  .add-resume-label {
    display: block;
    width: 100%;
    padding: .25rem;
    clear: both;
    font-weight: 400;
    color: #58d5e0;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  .add-resume-label span {
    margin-left: 10px;
    color: #58d5e0;
  }
  .input-resume {
    display: none;
  }
  .remove-resume-button {
    outline: none;
    border: none;
    background-color: #fff;
    margin-bottom: .5rem;
  }
  .remove-resume-button i{
    margin-right: 19px;
  }
  
  .fa-add-document:before {
    content: "\f055";
    line-height: 1;
    padding: 1.5px;
    color: #58d5e0;
  }
  .add-document-button,.remove-document-button {
    color: #58d5e0;
  }
  .add-document-label {
    display: block;
    width: 100%;
    padding: .25rem;
    clear: both;
    font-weight: 400;
    color: #58d5e0;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  .add-document-label span {
    margin-left: 10px;
    color: #58d5e0;
  }
  .input-document {
    display: none;
  }