<div class="container">
  <div class="row">
    <div class="col-md-6" style = "padding-top: 50px;">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            <img src = "/files/photo/{{candidate?.photo}}" onerror="this.src='files/photo/index1.png';" style="width:200px;height:200px;">
          </p>
          <span>{{ candidate?.date_created }}</span><br>
          <span>{{ candidate?.date_birth }}</span><br>
          <b>Фамилия:</b><span>{{ candidate?.lastname }}</span><br>
          <b>Имя:</b><span>{{ candidate?.name }}</span><br>
          <b>Отчество:</b><span>{{ candidate?.fathername }}</span><br>
          <b>Компания:</b><span>{{ candidate?.company }}</span><br>
          <b>Должность:</b><span>{{ candidate?.position }}</span><br>
          <b>Зарплата:</b><span>{{ candidate?.salary }}</span><br>
          <p>
            <a class="btn btn-default" [routerLink]="['web/candidates']">back</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>

